<% content_for :header do -%>
  <%= stylesheet_link_tag 'work' %>
<% end -%>

<h1>Flexbox Grid with Pure CSS Hover Effects</h1>

<div class="thumbnail-grid flex">
  <a href="https://sinfonietta-meridiana.de/" target="_blank" class="flex-item">
    <figure class="i1">
      <figcaption>Project #1</figcaption>
    </figure>
  </a>
  <a href="https://pension-am-alten-waschhaus.de/en/" target="_blank" class="flex-item">
    <figure class="i2">
      <figcaption>Project #2</figcaption>
    </figure>
  </a>
  <a href="https://goerlitzmade.com/en/" target="_blank" class="flex-item">
    <figure class="i3">
      <figcaption>Project #3</figcaption>
    </figure>
  </a>
</div>

<footer>
	<p>Made by <a href="https://anselmurban.de/" target="_blank">Anselm Urban</a></p>
</footer>