<%# content_for :header do -%>
<%#= stylesheet_link_tag 'work' %>
<%# end -%>

<h1>工作作品</h1>
<p>我的工作主要專注在開發、維護、debug 公司所接的 ASP.NET 專案，使用的語言為 C#、JavaScript 並且搭配 SQL Server 作使用</p>

<div class="col-sm-12 work-grid">
  <div class="col-sm-4">
   <div class="thumbnail-grid flex">

    <a href="http://www.energylabel.org.tw/index.asp" target="_blank" class="flex-item">
      <figure class="i4">
        <figcaption>經濟能源部節能標章</figcaption>
      </figure>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="thumbnail-grid flex">

    <a href="http://www.klchb.gov.tw/ch/statistic/statistic/list.aspx?c0=670" target="_blank" class="flex-item">
      <figure class="i5">
        <figcaption>基隆市衛生所</figcaption>
      </figure>
    </a>
  </div>
</div>
<div class="col-sm-4">

</div>

</div>



<h1>Rails練習作品</h1>
<p>多對多資料庫設計，購物車架構，前後台分離的架構，各式常用 gem，智付寶金流串接，各類社群帳號登入， Redis 製作聊天室、RESTful API 等。</p>


<div class="col-sm-12">

  <div class="col-sm-4 project-block">
    <div class="thumbnail-grid flex">

      <a href="http://fifiteen82726-blog.logdown.com/" target="_blank" class="flex-item">
        <figure class="i1">
          <figcaption>平常在寫的部落格</figcaption>
        </figure>
      </a>
    </div>

  </div>

  <div class="col-sm-4 project-block">
    <div class="thumbnail-grid flex">

      <a href="https://pay2go-coda.herokuapp.com/" target="_blank" class="flex-item">
        <figure class="i2">
          <figcaption>串接智付寶金流測試</figcaption>
        </figure>
      </a>
    </div>

  </div>
  
  <div class="col-sm-4 project-block">
    <div class="thumbnail-grid flex">

      <a href="https://grape-pratice.herokuapp.com/" target="_blank" class="flex-item">
        <figure class="i9">
          <figcaption>利用 Grape API 做 RESTful API + Swagger-ui 顯示資訊 </figcaption>
        </figure>
      </a>
    </div>

  </div>
  <div class="col-sm-4 project-block">
    <div class="thumbnail-grid flex">

      <a href="https://github.com/fifiteen82726/omniauth_practice/" target="_blank" class="flex-item">
        <figure class="i3">
          <figcaption>利用 Omniauth 實踐 Social account 登入</figcaption>
        </figure>
      </a>
    </div>

  </div>

  <div class="col-sm-4 project-block">
    <div class="thumbnail-grid flex">

      <a href="https://calm-eyrie-9110.herokuapp.com//" target="_blank" class="flex-item">
        <figure class="i5">
          <figcaption>新增、查詢書籍、多對多
            資料庫、ajax 傳遞資料</figcaption>
          </figure>
        </a>
      </div>

    </div>



    <div class="col-sm-4 project-block">
      <div class="thumbnail-grid flex">

        <a href="https://github.com/fifiteen82726/redis_chatroom" target="_blank" class="flex-item">
          <figure class="i6">
            <figcaption>利用 Redis 實作多人聊天室</figcaption>
          </figure>
        </a>
      </div>

    </div>

    <div class="col-sm-4 project-block">
      <div class="thumbnail-grid flex">

        <a href="https://github.com/fifiteen82726/ShopCart" target="_blank" class="flex-item">
          <figure class="i7">
            <figcaption>利用 namespace 切割前後台，實作購物車架構(利用 devise 驗證、will_pagenate 分頁、 paperclip 上傳照片)</figcaption>
          </figure>
        </a>
      </div>

    </div>

    <div class="col-sm-4 project-block">
      <div class="thumbnail-grid flex">

        <a href="https://github.com/fifiteen82726/Rspec_pra" target="_blank" class="flex-item">
          <figure class="i8">
            <figcaption>利用 Rspec 來練習撰寫 TDD 敏捷開發</figcaption>
          </figure>
        </a>
      </div>
      <!-- <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseOne" 
          href="#collapseOne">
          
        </a>
      </h4>

    </div> -->
      <!-- <div id="collapseOne" class="panel-collapse collapse">
       <ul>
         <li>3</li>
         <li>4</li>
         <li>5</li>
         <li>6</li>
         <li>7</li>
       </ul>
      </div> -->

    </div>

</div>



