<h1>Work#index</h1>
<p>Find me in app/views/work/index.html.erb</p>


<div class="col-md-12">
	
	<div class="col-md-4">
		
		<blockquote class="embedly-card" data-card-key="6030892a3e1c4251b65fd50e420d7ae7" data-card-controls="0" data-card-type="article" data-card-align="left"><h4><a href="https://calm-eyrie-9110.herokuapp.com/">ReadingList</a></h4><p>The principle difference between Ruby on Rails and other frameworks for development lies in the speed and ease of use that developers working within the environment enjoy. Changes made to applications are immediately applied, avoiding the time consuming steps normally associated with the web development cycle.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

	</div>

	<div class="col-md-4">
		
	<blockquote class="embedly-card" data-card-key="6030892a3e1c4251b65fd50e420d7ae7" data-card-type="article-full" data-card-align="left"><h4><a href="https://pay2go-coda.herokuapp.com/">Pay2goTest</a></h4><p>串接智付寶金流刷卡測試</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

	</div>


	<div class="col-md-4">
		
	<blockquote class="embedly-card" data-card-key="6030892a3e1c4251b65fd50e420d7ae7" data-card-controls="0" data-card-type="article" data-card-align="left"><h4><a href="https://pure-bayou-2802.herokuapp.com/">OmniAuth</a></h4><p>OmniAuth - 實作多方認證的最佳實踐</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

	</div>

</div>