<%# content_for :header do -%>
<%#= stylesheet_link_tag 'work' %>
<%# end -%>

<h1>工作作品</h1>
<p>我的工作主要專注在開發,維護,debug 公司所接的 ASP.NET 專案,使用的語言為 C#, JavaScript 並 且搭配 SQL Server 作使用</p>

<div class="col-sm-12 work-grid">
  <div class="col-sm-4">
     <div class="thumbnail-grid flex">

      <a href="http://www.energylabel.org.tw/index.asp" target="_blank" class="flex-item">
        <figure class="i4">
          <figcaption>經濟能源部節能標章</figcaption>
        </figure>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail-grid flex">

      <a href="http://www.klchb.gov.tw/ch/statistic/statistic/list.aspx?c0=670" target="_blank" class="flex-item">
        <figure class="i5">
          <figcaption>基隆市衛生所</figcaption>
        </figure>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    
  </div>
  
  </div>



<h1>Rails練習作品</h1>
<p>練習多對多資料庫設計，各式常用gem，智付寶金流串接，社群帳號登入，Redis製作聊天室等。</p>


<div class="col-sm-12">

  <div class="col-sm-4">
    <div class="thumbnail-grid flex">

      <a href="http://fifiteen82726-blog.logdown.com/" target="_blank" class="flex-item">
        <figure class="i1">
          <figcaption>平常在寫的部落格</figcaption>
        </figure>
      </a>
    </div>

  </div>

  <div class="col-sm-4">
    <div class="thumbnail-grid flex">

      <a href="https://pay2go-coda.herokuapp.com/" target="_blank" class="flex-item">
        <figure class="i2">
          <figcaption>串接智付寶金流測試</figcaption>
        </figure>
      </a>
    </div>

  </div>
  
   <div class="col-sm-4">
    <div class="thumbnail-grid flex">

      <a href="https://grape-pratice.herokuapp.com/" target="_blank" class="flex-item">
        <figure class="i9">
          <figcaption>利用Grape API做 RESTful API + Swagger-ui 顯示資訊 </figcaption>
        </figure>
      </a>
    </div>

  </div>
  <div class="col-sm-4">
    <div class="thumbnail-grid flex">

      <a href="https://pure-bayou-2802.herokuapp.com/" target="_blank" class="flex-item">
        <figure class="i3">
          <figcaption>利用Omniauth實踐Social account登入</figcaption>
        </figure>
      </a>
    </div>

  </div>

  <div class="col-sm-4">
    <div class="thumbnail-grid flex">

      <a href="https://calm-eyrie-9110.herokuapp.com//" target="_blank" class="flex-item">
        <figure class="i5">
          <figcaption>新增、查詢書籍、多對多
資料庫設計、ajax 傳遞資料</figcaption>
        </figure>
      </a>
    </div>

  </div>


  
  <div class="col-sm-4">
    <div class="thumbnail-grid flex">

      <a href="https://github.com/fifiteen82726/redis_chatroom" target="_blank" class="flex-item">
        <figure class="i6">
          <figcaption>利用Redis實作多人聊天室</figcaption>
        </figure>
      </a>
    </div>

  </div>

  <div class="col-sm-4">
    <div class="thumbnail-grid flex">

      <a href="https://github.com/fifiteen82726/ShopCart" target="_blank" class="flex-item">
        <figure class="i7">
          <figcaption>實作前後台分離購物車(利用devise驗證, will_pagenate分頁, paperclip上傳照片)</figcaption>
        </figure>
      </a>
    </div>

  </div>

<div class="col-sm-4">
    <div class="thumbnail-grid flex">

      <a href="https://github.com/fifiteen82726/Rspec_pra" target="_blank" class="flex-item">
        <figure class="i8">
          <figcaption>利用Rspec來練習撰寫TDD敏捷開發</figcaption>
        </figure>
      </a>
    </div>

  </div>

</div>



