// Place all the styles related to the resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#right-block{
	background-color: #3d3e42;
	/*width: 300px;*/
	
}

#left-block{
	background: #fff;
	/*width: 300px;*/
	
}

#profile{
	width: 150px;

}

.company_text{
	color: white;
    margin-bottom: 15px;
}

.time_text{
	color: #9099a0;
	margin-bottom: 15px;
}

.basic_info
{
	color: #4a4e51;
}

.basic_answer
{
	color: #9099a0
}


